version: '3.7'
#
volumes:
  public-data:
  tmp-data:
  log-data:
  mysql-data:
  db-data:
  bundle:
  node_modules:
services:
  # ----------------------------------------------------------------------------
  mysql:
    restart: always
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: 'development'
      MYSQL_ROOT_PASSWORD: 'pass'
    volumes:
      - ./containers/db/my.cnf:/etc/mysql/conf.d/my.cnf
      - db-data:/var/lib/mysql
    networks:
      - default
    ports:
      - '3306:3306'
  # ----------------------------------------------------------------------------
  redis:
    restart: always
    image: redis:alpine
    networks:
      - default
    ports:
      - '6379:6379'
  # ----------------------------------------------------------------------------
  rails:
    build:
      context: .
      dockerfile: Dockerfile.dev
    environment:
      DATABASE_NAME: 'xross_development'
      DATABASE_USERNAME: 'root'
      DATABASE_HOSTNAME: 'mysql'
      DATABASE_PASSWORD: 'pass'
      REDIS_URL: 'redis://redis:6379'
    volumes:
      - .:/webapp:cached
      - public-data:/webapp/public
      - tmp-data:/webapp/tmp
      - log-data:/webapp/log
      - node_modules:/webapp/node_modules
      - bundle:/webapp/.bundle
    tty: true
    stdin_open: true
    command: bash -c "rm -f tmp/pids/server.pid && (bundle check --path .bundle/vendor || bundle install -j4 --path .bundle/vendor) && bin/rails server -b 0.0.0.0"
    networks:
      - default
    ports:
      - '3000:3000'
  # ----------------------------------------------------------------------------
  front:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/webapp:cached
      - ./config/application.yml.sample:/webapp/config/application.yml
      - public-data:/webapp/public
      - tmp-data:/webapp/tmp
      - log-data:/webapp/log
      - node_modules:/webapp/node_modules
      - bundle:/webapp/.bundle
    tty: true
    stdin_open: true
    command: bash -c "yarn && yarn run start"
    networks:
      - default
    ports:
      - '3035:3035'
  # ----------------------------------------------------------------------------
  nginx:
    image: nginx:alpine
    volumes:
      - ./containers/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - public-data:/webapp/public
    networks:
      - default
    ports:
     - "80:80"
    depends_on:
      - rails
      - front
